
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/custom-css.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/JS/bootstrap.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" />
    <title>allProducts</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-5">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">

                <img src="~/Content/Images/square-xy-flaticon.png" alt="Square XY Flaticon" class="square-X-Flaticon" />
                <section class="mainCenterImg"></section>
                <img src="~/Content/Images/square-xy-flaticon.png" alt="Square XY Flaticon" class="square-Y-Flaticon" />

                @*<div class="mainProductEffect">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <img src="~/Content/Images/pedigree-dog-food.jpg" alt="Pedigree Dog Food" title="Pedigree Ped Dry | Dog" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="mainProduct-description pt-2">
                            <p>
                                <span class="mainProduct-code"> X071009 </span>
                                <span class="mainProduct-stand">|</span>
                                <span class="mainProduct-name">Pedigree Ped Dry</span>
                            </p>
                            <p class="mainProduct-border-line"></p>
                            <p class="pt-1">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <img src="~/Content/Images/range-flaticon.png" alt="Range" title="Range" class="range-flaticon" />
                                        <span class="mainProduct-range"> 5000 </span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <img src="~/Content/Images/packType-flaticon.png" alt="PackType" title="PackType" class="packType-flaticon" />
                                        <span class="mainProduct-packType"> MicroPlastic </span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <img src="~/Content/Images/packSize-flaticon.png" alt="PackSize" title="PackSize" class="packSize-flaticon" />
                                        <span class="mainProduct-packSize"> 6*3'' </span>
                                    </div>
                                </div>
                            </p>
                            <p class="mainProduct-border-line2"></p>
                            <p class="pt-1">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <img src="~/Content/Images/caseSize-flaticon.png" alt="CaseSize" title="CaseSize" class="caseSize-flaticon" />
                                        <span class="mainProduct-caseSize"> 3 </span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <img src="~/Content/Images/mrp-flaticon.png" alt="MRP" title="MRP" class="mrp-flaticon" />
                                        <span class="mainProduct-mrp"> 700 </span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <img src="~/Content/Images/netWt-flaticon.png" alt="NetWeight" title="NetWeight" class="netWt-flaticon" />
                                        <span class="mainProduct-netWt"> 3 KG </span>
                                    </div>
                                </div>

                            </p>
                            <p class="mainProduct-border-line2"></p>
                            <p class="pt-1">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                        <span class="mainProduct-descriptionTxt">
                                            PEDIGREE® Adult Complete Nutrition Roasted Chicken, Rice & Vegetable Flavor is formulated to meet the nutritional levels established by the AAFCO Dog Food Nutrient Profiles for maintenance.
                                        </span>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>*@

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2"></div>

        </div>





    </div>
</body>
</html>
